/***
 * Brynn Harrington
 * CS 341A 
 * Dr. Tribelhorn
 * Homework #4
 * This CSS file acts as a style sheet for a cheesecake order form website 
 * to increase the aesthetic of the website.
 *
 * NOTES
 * learned the CSS from the following website/tutorial: 
 *  https://www.w3schools.com/css/default.asp
 * learned the select bar from:
 *
 ***/

/**
 * Apply the background color of the entire document 
 */
* {
    background-color: rgb(228, 181, 181);
    /* Change the font style to trebuchet MS */
    font-family: 'Trebuchet MS';
}

h1, h3, select, button, .monthDropButton, .quantity, .order, .reviews{
    /* Modify the background color so some of the page has a different color*/
    background-color: beige;
    /* Surround the text with a double border that fits the content */
    border-style: double;
    width: fit-content;
    /* Change the font style to impact */
    font-family: Impact;
    
}

/**
 * Modify the style of the h1 tag 
 */
h1 {
    /* Increase the font size */
    font-size: xx-large;
}

/**
 * Modify the style of the textarea tag 
 */
textarea {
    /* Modify the background color so some of the page has a different color*/
    background-color: beige;
    /* Change the cursor to text */
    cursor: text;
}

/**
 * Modify the style of the order and month drop down button class
 */
.order, .monthDropButton {
    padding: inherit;
    font-size: inherit;
}
/**
 * Modify the style of the month drop down button class
 */
.monthDropButton {
    padding: inherit;
    font-size: inherit;
}

/**
 * Modify the style of the month drop down menu class
 */
.monthDropdown {
    position: relative;
    display: inline-block;
}

/**
 * Modify the style of the month drop down content class
 */
.monthDropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}


/**
 * Modify the style of the month drop down content button class
 */
.monthDropdown-content button {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/**
 * Modify the background of the month drop down content hover
 */
.monthDropdown:hover .monthDropButton, .monthDropdown-content button:hover {
    background-color: #ddd;
}

.monthDropdown:hover .monthDropdown-content {
    display: block;
}
