/***
 * Brynn Harrington
 * CS 341A 
 * Dr. Tribelhorn
 * Homework #2

 * This CSS file acts as a style sheet for a cheesecake order form website 
 * to increase the aesthetic of the website.
 *
 * NOTES
 * learned the CSS from the following website/tutorial: 
 *  https://www.w3schools.com/css/default.asp
 * learned the select bar from:
 *
 ***/

/**
 * Apply the background color of the entire document 
 */
* {
    background-color: rgb(228, 181, 181);
    /* Change the font style to trebuchet MS */
    font-family: 'Trebuchet MS';
}

/**
 * Modify the style of the h1 tag 
 */
h1 {
    /* Modify the background color so some of the page has a different color*/
    background-color: beige;
    /* Surround the text with a double border that fits the content */
    border-style: double;
    width: fit-content;
    /* Change the font style to impact and increase the size */
    font-family: Impact;
    font-size: xx-large;
}

/**
 * Modify the style of the h3 tag 
 */
h3 {
    /* Change the font style to impact */
    font-family: Impact;
    /* Modify the background color so some of the page has a different color*/
    background-color: beige;
    /* Surround the text with a double border that fits the content */
    border-style: double;
    width: fit-content;
}




/**
 * Modify the style of the textarea tag 
 */
textarea {
    /* Modify the background color so some of the page has a different color*/
    background-color: beige;
    /* Change the font style to trebuchet MS */
    font-family: 'Trebuchet MS';
    /* Change the cursor to text */
    cursor: text;
}


/**
 * Modify the style of the form tag 
 */
select {
    /* Change the font style to impact */
    font-family: Impact;
    font-size: medium;
    /* Modify the background color so some of the page has a different color*/
    background-color: beige;
    /* Surround the text with a double border that fits the content */
    border-style: double;
}


/* Modify the monthDrop buttons for the month */
.monthDB {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .monthDrop {
    position: relative;
    display: inline-block;
  }
  
  .monthDrop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .monthDrop-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .monthDrop-content {
    max-height:200px;
    overflow-x:hidden;
    overflow-y:scroll;
  }
  
  .monthDrop-content button:hover {background-color: #ddd;}
  .monthDrop:hover .monthDrop-content {display: block;}
  .monthDrop:hover .monthDB {background-color: beige;}

  /**
 * Modify the style of the reviews class 
 */
.reviews {
    /* Change the font style to impact */
    font-family: Impact;
    /* Modify the background color so some of the page has a different color*/
    background-color: beige;
    /* Surround the text with a double border that fits the content */
    border-style: double;
    width: fit-content;
}